<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.112.5">
  <title>プレゼンテーション スライド テンプレート · Bootstrap v5.3</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }

      .featurette-divider {
      margin-top: 5rem;
      margin-left: 2rem;

      }

          /* Custom media queries for responsiveness */
    @media (max-width: 767px) {
      .bd-placeholder-img {
        font-size: 0.875rem;
      }
      .bd-placeholder-img-lg {
        font-size: 2rem;
      }
      .b-example-divider {
        height: 2rem;
      }
    }

    @media (max-width: 576px) {
      .bd-placeholder-img {
        font-size: 0.75rem;
      }
      .bd-placeholder-img-lg {
        font-size: 1.5rem;
      }
      .b-example-divider {
        height: 1.5rem;
      }
    }
    </style>

        <link href="./index_files/carousel.rtl.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="./index_files/m=el_main_css"></head>
  <body>


    
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">仮タイトル</font></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="ナビゲーションを切り替え">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ホームページ</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">リンク</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">リンク</font></font></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>



  <!-- Marketing messaging and featurettes
  ================================================== -->

 <hr class="featurette-divider">
  <div class="container">
    <% @lyrics.each do |lyric| %>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><%= lyric.title %></h2>
          <p class="lead"><%= lyric.content %></p>
        </div>
        <div class="col-md-5">
          <% if lyric.image.attached? %>
            <%= image_tag lyric.image, class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto', width: '500', height: '500' %>
          <% else %>
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="プレースホルダー: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          <% end %>
        </div>
      </div>
    <% end %>

    <hr class="featurette-divider">

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @lyrics.each_with_index do |lyric, index| %>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @lyrics.each_with_index do |lyric, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1><%= lyric.title %></h1>
              <p class="opacity-75"><%= lyric.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">以前</font></font></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">次の</font></font></span>
    </button>
  </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">トップに戻る</font></font></a></p>
  </footer>
</main>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    

</body></html>